@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background: black;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main {
    border-radius: 40px;
    background: #030303;
    box-shadow: 24px 24px 48px #030303, -24px -24px 48px #030303;

    /* border-radius: 50px;
background: #080808;
box-shadow:  20px 20px 60px #070707,
             -20px -20px 60px #090909; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
