@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: #1e1e1e; */
    background-color: rgb(14, 14, 14);
    /* background-color: black; */
    color: white;
}

.main {
    /* background: linear-gradient(145deg, #0e0e0e, #101010);
    box-shadow: 20px 20px 60px #0d0d0d, -20px -20px 60px #111111; */

    /* background: linear-gradient(145deg, #070707, #090909);
    box-shadow: 20px 20px 60px #070707, -20px -20px 60px #090909; */

    /* border-radius: 50px;
    background: #050505;
    box-shadow: 20px 20px 60px #040404, -20px -20px 60px #060606; */

    border-radius: 50px;
    background: #0d0d0d;
    box-shadow: 20px 20px 60px #0b0b0b, -20px -20px 60px #0f0f0f;

    /* border-radius: 50px;
background: #0d0d0d;
box-shadow:  32px 32px 64px #0b0b0b,
             -32px -32px 64px #0f0f0f; */
}

.header {
    /* margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #1e1e1e;
    border-radius: 10px; */


}

.hero {
    /* background-color: #1e1e1e;
    border-radius: 10px; */

    /* border-radius: 50px; */
/* background: #0d0d0d;
box-shadow:  20px 20px 60px #0b0b0b,
             -20px -20px 60px #0f0f0f; */
}

.posts {
    /* padding: 0.1rem 1rem 1rem 1rem;
    background-color: #1e1e1e;
    border-radius: 10px; */

/* background: #0d0d0d;
box-shadow:  20px 20px 60px #0b0b0b,
             -20px -20px 60px #0f0f0f; */
}
